
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100%;
}

.box {
    width: 80vw;
    height: 100%;
    display: flex;
    margin: 40px auto;
}

.left {
    width: 40%;
    background: #cbcbd7;
    text-align: center;
    /* height: 250%; */
}

.right {
    width: 100%;
    background: #F5F5F5;
    height: 1500px;
}

.icon-left {
    position: absolute;
    top: 65px;
    left: 160px;
    font-size: 20px;
}

.icon-right {
    position: absolute;
    top: 67px;
    left: 400px;
    font-size: 20px;
}

/* .firstsection {} */

img {
    width: 120px;
    margin: 30px 0 20px 0;
}

.text-name {
    padding: 10px;

}

.text-title {
    margin-bottom: 15px;

}

.firsttitle {
    margin: 40px;


}

.text-desc {
    line-height: 25px;
    margin: 0 0 10px 0;
}

.text-space {
    margin: 20px;
}

.purple {
    padding-left: 6px;
}

.secondtitle {
    margin: 40px;
}

.round {
    width: 20px;
    background: grey;
    height: 20px;
    border-radius: 12px;
}

.round1 {
    width: 20px;
    background: grey;
    height: 20px;
    border-radius: 12px;
    position: absolute;
    top: 497px;

}

.line {
    width: 3px;
    height: 149px;
    background: grey;
    position: absolute;
    left: 497px;

}

.roundbox {
    position: absolute;
    left: 514px;
    top: 344px;
    width: 50%;
}

.roundbox1 {
    position: absolute;
    left: 514px;
    top: 497px;
    width: 50%;

}

.section-heading {
    width: 50%;
}

.boxes {
    text-align: left;
    margin: 0 15px;
}

.left-line {
    width: 3px;
    height: 276px;
    background: grey;
    position: absolute;
    left: 159px;
    top: 741px;

}

.left-round {
    width: 20px;
    background: grey;
    height: 20px;
    border-radius: 12px;
    position: absolute;
    top: 722px;
    left: 150px;

}

.left-roundbox {
    position: absolute;
    left: 138px;
    top: 720px;
    width: 23%;
}

.left-roundbox1 {
    position: absolute;
    left: 138px;
    top: 812px;
    width: 23%;

}

.left-text-desc {
    width: 336px;
}

.left-round1 {
    width: 20px;
    background: grey;
    height: 20px;
    border-radius: 12px;
    position: absolute;
    top: 815px;
    left: 150px;

}

.left-round2 {
    width: 20px;
    background: grey;
    height: 20px;
    border-radius: 12px;
    position: absolute;
    top: 899px;
    left: 150px;

}

.left-roundbox2 {
    position: absolute;
    left: 138px;
    top: 899px;
    width: 23%;

}

.left-text-desc1 {
    width: 315px;
}

.left-roundbox3 {
    position: absolute;
    left: 132px;
    top: 1003px;
    width: 23%;
}

.left-round3 {
    width: 20px;
    background: grey;
    height: 20px;
    border-radius: 12px;
    position: absolute;
    top: 1001px;
    left: 150px;

}

.section-heading1 {
    width: 65%;
}

.thirdtitle {
    margin: 40px;
    position: absolute;
    top: 628px;
    width: 52%;


}

.fourthsection {
    width: 30%;
    position: absolute;
    top: 1090px;
}

.fourthul {
    /* display: flex; */
    list-style-position: inside;
    width: 60%;
}

.fourthul li {
    margin: 9px;
    padding: -3px;
}

.fourthtitle {
    margin: 40px;
    position: absolute;
    top: 922px;
    width: 52%;
}

.fifthtitle {
    margin: 40px;
    position: absolute;
    top: 1144px;
    width: 52%;
}

.inbox {
    margin: 34px;
    text-align: center;
    display: flex;
    justify-content: space-evenly
}

.icons {
    position: absolute;
    top: 44px px;
}

.icons i {
    margin: 0px 63px;
  
}
